extends layout

block content
  .wxapi_container
    .wxapi_index_container
      ul.label_box.lbox_close.wxapi_index_list
        li.label_item.wxapi_index_item
          a.label_inner(href='#menu-basic') 基础接口
        li.label_item.wxapi_index_item
          a.label_inner(href='#menu-share') 分享接口
    .lbox_close.wxapi_form
      h3#menu-basic 基础接口
      span.desc 判断当前客户端是否支持指定JS接口
      button#checkJsApi.btn.btn_primary checkJsApi
      h3#menu-share 分享接口
      span.desc 获取“分享到朋友圈”按钮点击状态及自定义分享内容接口
      button#onMenuShareTimeline.btn.btn_primary onMenuShareTimeline
      span.desc 获取“分享给朋友”按钮点击状态及自定义分享内容接口
      button#onMenuShareAppMessage.btn.btn_primary onMenuShareAppMessage
      span.desc 获取“分享到QQ”按钮点击状态及自定义分享内容接口
      button#onMenuShareQQ.btn.btn_primary onMenuShareQQ
      span.desc 获取“分享到腾讯微博”按钮点击状态及自定义分享内容接口
      button#onMenuShareWeibo.btn.btn_primary onMenuShareWeibo
      span.desc 获取“分享到QZone”按钮点击状态及自定义分享内容接口
      button#onMenuShareQZone.btn.btn_primary onMenuShareQZone
    script(src='https://res.wx.qq.com/open/js/jweixin-1.2.0.js')
    script.
      wx.config({
        debug: true,
        appId: '#{wxconf.appId}',
        timestamp: #{wxconf.timestamp},
        nonceStr: '#{wxconf.nonceStr}',
        signature: '#{wxconf.signature}',
        jsApiList: [
          'checkJsApi',
          'onMenuShareTimeline',
          'onMenuShareAppMessage',
          'onMenuShareQQ',
          'onMenuShareWeibo',
          'onMenuShareQZone',
          'hideMenuItems',
          'showMenuItems',
          'hideAllNonBaseMenuItem',
          'showAllNonBaseMenuItem',
        ]
      });
    script(src='js/demo.js')